%section.panel.panel-default
  .panel-heading
    .panel-title
      %h4 Most Recent Blog Post ...
  .panel-body
    %tbody
      - for post in posts
        %tr
          %td
            = render partial: 'posts/post', locals: {post: post}