<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top"  onclick = $("#menu-close").click(); >Michelle Bonat</a>
        </li>
        <li>
            <a href="#top" onclick = $("#menu-close").click(); >Home</a>
        </li>
        <li>
            <a href="#about" onclick = $("#menu-close").click(); >About</a>
        </li>
        <!--<li>-->
            <!--<a href="#services" onclick = $("#menu-close").click(); >Services</a>-->
        <!--</li>-->
        <li>
            <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
        </li>
        <li>
            <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-right">
      <h1>Hello!</h1>
        <h1>I'm Michelle Bonat</h1>
        <!--<h3>Software Engineer &amp; Entrepreneur</h3>-->
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Come In</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><p></p>I’m a SF Bay Area-based software engineer and entrepreneur with experience at top financial and tech companies and running my own business. Since this is the name drop section I'll note that I
                  ran a global product business for Oracle, received an MBA in Finance from Kellogg, and launched a company at DEMO which was named the Top 10 most innovative software companies
                  under $100 million. I'm a former ultra-competitve athlete but now I mostly enjoy writing a lot of code from my couch.</p>

                  <p>But enough of that. On this site you’ll learn more about me. I love to collaborate so feel free to get in touch.</p></h2>
                <!--<p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<!--<section id="services" class="services bg-primary">-->
    <!--<div class="container">-->
        <!--<div class="row text-center">-->
            <!--<div class="col-lg-10 col-lg-offset-1">-->
                <!--<h2>Our Services</h2>-->
                <!--<hr class="small">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3 col-sm-6">-->
                        <!--<div class="service-item">-->
                            <!--<span class="fa-stack fa-4x">-->
                            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                            <!--<i class="fa fa-cloud fa-stack-1x text-primary"></i>-->
                        <!--</span>-->
                            <!--<h4>-->
                                <!--<strong>Service Name</strong>-->
                            <!--</h4>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
                            <!--<a href="#" class="btn btn-light">Learn More</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-6">-->
                        <!--<div class="service-item">-->
                            <!--<span class="fa-stack fa-4x">-->
                            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                            <!--<i class="fa fa-compass fa-stack-1x text-primary"></i>-->
                        <!--</span>-->
                            <!--<h4>-->
                                <!--<strong>Service Name</strong>-->
                            <!--</h4>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
                            <!--<a href="#" class="btn btn-light">Learn More</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-6">-->
                        <!--<div class="service-item">-->
                            <!--<span class="fa-stack fa-4x">-->
                            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                            <!--<i class="fa fa-flask fa-stack-1x text-primary"></i>-->
                        <!--</span>-->
                            <!--<h4>-->
                                <!--<strong>Service Name</strong>-->
                            <!--</h4>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
                            <!--<a href="#" class="btn btn-light">Learn More</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-6">-->
                        <!--<div class="service-item">-->
                            <!--<span class="fa-stack fa-4x">-->
                            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                            <!--<i class="fa fa-shield fa-stack-1x text-primary"></i>-->
                        <!--</span>-->
                            <!--<h4>-->
                                <!--<strong>Service Name</strong>-->
                            <!--</h4>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
                            <!--<a href="#" class="btn btn-light">Learn More</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.row (nested) &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.col-lg-10 &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.row &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</section>-->

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <!--<h1>Vertically Centered Text</h1>-->
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Some Of My Work</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="http://i.imgur.com/5d6vZhr.jpg">
                                <h4>Code and run the business at Data Simply</h2>
                                  <a href="http://datasimply.com/" class="btn btn-dark">Learn More</a>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="http://i.imgur.com/xYtrzDp.jpg">
                                <h4>SEO enable a Rails app</h2>
                                  <a href="https://github.com/DataSimply/suits" class="btn btn-dark">Learn More</a>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="http://ironsummitmedia.github.io/startbootstrap-stylish-portfolio/img/portfolio-3.jpg">
                              <h4>Built a Wikipedia clone app</h2>
                              <a href="https://github.com/michellebonat/blocipedia" class="btn btn-dark">Learn More</a>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="http://i.imgur.com/0e72F03.jpg">
                                <h4>Ran Oracle Financial Web Apps for mobile, hosted and on-premise globally</h2>
                                  <a href="http://www.oracle.com/us/solutions/financial-management/index.html" class="btn btn-dark">Learn More</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <!--<a href="#" class="btn btn-dark">View More Items</a>-->
            <!--</div>-->
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12 text-center">-->
                <!--<h3>The buttons below are impossible to resist.</h3>-->
                <!--<a href="" class="btn btn-lg btn-light">Click Me!</a>-->
                <!--<a href="#" class="btn btn-lg btn-dark">Look at Me!</a>-->
            <!--</div>-->
        </div>
    </div>
</aside>

<!-- Footer -->
<section id="contact" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2><strong>Get In Touch</strong>
                  <br>

                <!--</h4>-->
                <!--<p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>-->
                <!--<ul class="list-unstyled">-->
                    <!--<li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>-->
                  <h3>
                    <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:michelle.bonat@gmail.com">michelle.bonat(at)gmail.com</a>
                    <br>
                    <br>
                  <h4>
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                  <li>
                    <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                  </li>
                    <li>
                        <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Michelle Bonat 2016</p>
                <p class="text-muted">This site built by Michelle with Ruby on Rails a few tricks and lots of
                <i class="fa fa-heart"></i>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Custom Theme JavaScript -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>
