<div class="container panel panel-resume">
  <div class="row">
    <div class="col-lg-12 text-left">
        <section id="about" class="about">
          <h1><strong>Resume for Michelle Bonat</strong></h1>

          <h3><strong> LEADER | AI AND DATA | PRODUCT ENGINEER
          </strong></h3>

          <h2><strong>Background</strong></h2>
          <%= link_to "See My Portfolio", root_path %> <i class="fa fa-arrow-circle-right"></i>
          <p>
          <%= link_to "See My Blog", posts_path %> <i class="fa fa-arrow-circle-right"></i>

          <h2><strong>Skills</strong></h2>

          <h4>
            <ul>
              <li><strong>Business:</strong> Exec leadership, financial services domain, innovation, collaboration, global scale software, blockchain, crypto</li>
              <li><strong>AI, Machine Learning & Data Science: </strong> TensorFlow, Keras, Scikit-learn, Pandas, Numpy, Matplotlib</li>
              <li><strong>Techniques:</strong> Deep learning, Time series analysis, Statistical analysis, Real-time ETL data pipelines</li>
              <li><strong>Languages:</strong> Python, Ruby, Java (Java as a manager)</li>
              <li><strong>Front End:</strong> Html, CSS, Javascript, JQuery, Ajax</li>
              <li><strong>Tools:</strong> SQL, APIs, Node.js, Angular, Twilio, SendGrid</li>
              <li><strong>Databases:</strong> PostgreSQL, Oracle, Redis</li>
              <li><strong>Cloud Services:</strong> AWS, Google Cloud, Heroku</li>
              <li><strong>Misc:</strong> Open source contributor, coding teacher.</li>


            </ul>

                    <h2><strong>Experience</strong></h2>

            <h3>
              <ul>
                <li><strong>JPMorgan Chase</strong>, 2019 - present</li>
                <strong>Executive Director, Head of AI Innovation, Digital,</strong>
                <strong>San Francisco, CA</strong>
              </ul>

              <h4>
                <ul>
                  <li>Building applied AI ML tech to innovate the online technology solutions at <%= link_to "JPMC", "https://www.jpmorganchase.com/" %>, one neural network at a time.</li>
                </ul>
              </h4>

            <h3>
              <ul>
                <li><strong>Data Simply, Inc.</strong>, 2016 - present</li>
                <strong>Chairman 2019 -,</strong>
                <strong>CEO / Co-Founder / Chief Data Scientist,</strong>
                <strong>Palo Alto, CA</strong>
              </ul>

              <h4>
                <ul>
                  <li>Co-built <%= link_to "automated SaaS platform and data products", "http://www.datasimply.com" %> creating personalized investing signals from text in company SEC disclosures using data science</li>
                  <li>Drive product vision, strategy and roadmap</li>
                  <li>Delivering 100MM+ real-time automated insights for financial sentiment and sustainable investing (ESG) </li>
                  <li>Deployed ETL data pipelines at scale: improved data quality 59%, with 83% faster processing, and 99% automation</li>
                  <li>Run the business; raised funding; closed partnership with industry leader for full integration into their platform.</li>
                </ul>
              </h4>

                    <h3>
                      <ul>
                        <li><strong>Insight Data Science</strong>, September - November 2018</li>
                        <strong>AI Engineering Fellow,</strong>
                        <strong>San Francisco, CA</strong>
                      </ul>

                      <h4>
                        <ul>
                          <li>Selective program to build applied AI systems with group collaboration</li>
                          <li>Built Ethereum funds flow predictor as consulting project achieving 98% precision</li>
                          <li>Created pipeline using blockchain, custom datasets, and machine learning (Logistic Regression, Random Forest, GridSearchCV, Sequential)</li>
                          <li>Applied Deep Learning to new $200BN Crypto asset class.</li>
                        </ul>
                      </h4>

                    <h3>
                      <ul>
                        <li><strong>Ariba & Startups - Director, Product Management</strong>, 2004 - 2015</li>
                        <strong>Silicon Valley, CA</strong>
                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Software product leader at three acquired companies</li>
                        <li>Defined and rolled out company-wide product roadmap</li>
                        <li>Drove successful Asia launch of world's largest B2B marketplace</li>
                        <li>Led 12 PM teams for product conception through launch and multiple iterations, user types, and delivery methods.</li>
                      </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Oracle Corp - Group Manager - Financial Applications Engineering</strong>, 1997 - 2004</li>
                        <strong>Redwood Shores, CA</strong>
                        </br>

                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Led Financial web application development engineering and PM team of 40 building, testing, and maintaining large-scale software systems</li>
                        <li>Innovative approaches raised flagship iExpenses to market leader</li>
                        <li>Introduced agile for 6X faster to market for $50MM revenue stream</li>
                        <li>Led customer adoption program to 100% referenceability.</li>
                       </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>BMO - Financial Quant</strong>, 1995 - 1997</li>
                        <strong>Chicago, IL</strong>
                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Created cash-flow based financial models to analyze banking transactions</li>
                        <li>Spearheaded development of new complex derivatives product.</li>
                      </ul>
                    </h4>

                    <h2><strong>Education</strong></h2>

                    <h3>
                      <ul>
                        <li><strong>Bloc Code School</strong></li>
                        <h4>
                          5 month full stack engineering bootcamp.
                        </h4>
                        <p>
                        <li><strong>Kellogg School, Northwestern University</strong></li>
                        <h4>
                        MBA, Finance
                        </h4>
                        <p>
                        <li><strong>Northwestern University</strong></li>
                        <h4>
                        BA, English
                        </h4>
                        <p>
                      </ul>
                    </h3>

                      <h2><strong>Volunteer and Open Source</strong></h2>

                      <h3>
                        <ul>
                          <li><strong>FinTech Sandbox</strong>, 2014 - Present</li>
                          <h4>
                            Contribute open source code to facilitate the quick and effective adoption of a variety of financial data services.
                          </h4>
                          <p>
                          <li><strong>Railsbridge</strong> 2017 - Present</li>
                          <h4>
                            Work as a volunteer to help teach coding to under-represented groups.
                          </h4>
                          <p>
                          <li><strong>OS4W</strong> 2017</li>
                          <h4>
                            Contribute code to platform that helps women work on more open source coding projects.
                          </h4>
                        </ul>
                      </h3>
        </div>
      </div>
    </div>
  </section>

<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
        </h3>
        </br>
        </h3>
        <h3>Like this site? Star it on GitHub</h3>
        <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-dark">Star It</a>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2020</p>

          <p class="text-muted">Built by Michelle with
            <i class="fa fa-coffee"></i>
          </p>
          <br>
          <br>
        </h4>
      </div>
    </div>
  </div>
</section>
