<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h1><strong>Resume</strong></h1>

        <h2><strong>Skills</strong></h2>
        <h3>
        <ul>
          <li><strong>Languages and Frameworks:</strong> Ruby, Ruby on Rails</li>
          <li><strong>Front end:</strong> HTML, CSS, Javascript, Ajax</li>
          <li><strong>Templating and Presentation:</strong> ERB, HAML, Bootstrap</li>
          <li><strong>Working in teams: </strong>Git, GitHub, Slack, Screen Hero</li>
          <li><strong>Testing:</strong> RSpec, MiniTest, Capybara, FactoryGirl</li>
          <li><strong>Cloud Infrastructure and DevOps:</strong> Heroku</li>
          <li><strong>Database:</strong> SQLite, PostgreSQL, Oracle</li>
          <li><strong>OS:</strong> Mac OSX (and Microsoft if I have to)</li>
          <li><strong>Agile Project Management:</strong> Pivotal, Trello</li>
          <li><strong>Creating, Deploying, and Shipping production code</strong></li>
          <li><strong>Working remotely as part of a team</strong></li>
          <li><strong>Multiple years experience as product leader: Leading projects, products, and engineering teams at global scale</strong></li>

        </ul>
        </h3>

        <h2><strong>Experience</strong></h2>
        <h3>
          <ul>
            <li><strong>Data Simply, Inc.</strong>, 2014 - present</li>
            <strong>CEO / Co-Founder / Software Engineer</strong>
            </br>
            Our team of financial and engineering experts developed a financial search engine that intelligently crawls online documents, automatically indexing against our expert annotations.
            It lets investment professionals know the good and bad things happening to the companies they track, and even get that
            sent right to their phone. See more at <%= link_to "DataSimply.com", "http://www.datasimply.com" %>
          </ul>
        </h3>

        <h3>
          <ul>
            <li><strong>Several Software Startups in Silicon Valley</strong>, 2004 - 2014</li>
            Worked at several silicon valley startups in lead product and marketing roles. Three were acquired: Ariba, PSS Systems, and Sana Security.
          </ul>
        </h3>

        <h3>
          <ul>
            <li><strong>Oracle</strong>, 1997 - 2004</li>
            <strong>Financial Applications Development Leader</strong>
            </br>
            Ran financial web & mobile apps product development at Oracle including consumer-facing expense management.
            As product family owner led a team of 25 including engineering, globally in 25 languages and 30 countries.
            Seven years at Oracle and a great experience!
          </ul>
        </h3>

        <h3>
          <ul>
            <li><strong>Banker</strong></li>
            Banker including lending, corporate finance and capital markets at First Chicago (now Chase) and BMO Capital Markets.
          </ul>
        </h3>

        <h2><strong>Education</strong></h2>
        <h3>
        <ul>
          <li><strong>Bloc Code School</strong>, 2014</li>
          5 month full time Full Stack and Ruby on Rails coursework, with Apprenticeship. Training to move from web developer to full stack engineer.
          <p>
          <li><strong>Kellogg School, Northwestern University</strong></li>
          MBA, Finance
          <p>
          <li><strong>Northwestern University</strong></li>
          BA, English
          <p>
        </ul>
        </h3>

      </div>
    </div>
  </div>
</section>

<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
        </h3>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2016</p>

          <p class="text-muted">This site built by Michelle with Ruby on Rails a few tricks and
            <i class="fa fa-heart"></i>
          </p>
        </h4>
      </div>
    </div>
  </div>
</section>