<div class="container panel panel-resume">
  <div class="row">
    <div class="col-lg-12 text-left">
        <section id="about" class="about">
          <h1><strong>Resume for Michelle Bonat</strong></h1>

          <h3><strong> AI/ML/FULL STACK ENGINEER | DATA SCIENTIST | ENTREPRENEUR | LEADER
          </strong></h3>
          <h3><strong>SUMMARY: I'm an SF Bay Area-based Artificial intelligence, Machine learning, and Full stack software engineer; data scientist; entrepreneur; and leader. I have experience at startups and public co’s, and running businesses, at global scale.
            I’ve run a global Enterprise application business for Oracle, have an MBA in Finance, and been part of several startups that were acquired. A former banker and ultra-competitive athlete, I love writing lots of code and inspiring others to make the world a better place with technology.
            </strong></h3>

          <h2><strong>Background</strong></h2>
          <%= link_to "See My Portfolio", root_path %> <i class="fa fa-arrow-circle-right"></i>
          <p>
          <%= link_to "See My Blog", posts_path %> <i class="fa fa-arrow-circle-right"></i>

          <h2><strong>By Numbers</strong></h2>

          <h4>
            <ul>
              <li><strong> 90 million+ </strong> metadata tags mapped on company filing disclosures using our tech</li>
              <li><strong> 1,200+</strong> individual production code commits to the Data Simply application</li>
              <li><strong>F500</strong> caliber of customers I have worked with</li>
              <li><strong>$50 million</strong> business size managed</li>
              <li><strong>30 and 25</strong> number of countries and languages where software has been deployed</li>
              <li><strong>25+</strong> team size managed</li>
              <li><strong>18</strong> years of tech management experience</li>
              <li><strong>10</strong> years as a web developer</li>
              <li><strong>4</strong> years as a full stack developer</li>
            </ul>

            <h2><strong>By Skills</strong></h2>

            <h3><strong>Soft Skills</strong></h3>

            <h4>
              <ul>

                <li>Successful track record of <strong> executive level leadership, product, and engineering experience </strong> with large tech companies and startups.
                </li>
                <li>Deep <strong> SaaS and Enterprise Software </strong> experience with industry leaders.
                </li>
                <li>Proven experience <strong> leading and inspiring high-performing teams </strong> to support growth objectives.
                </li>
                <li>Solving customer business challenges by <strong>understanding both business and technology.</strong>
                </li>
                <li>Proven ability to <strong>define, develop, and lead large initiatives at scale </strong> in fast paced intense environments.
                </li>
                <li>Strategically <strong>scaling and leading global teams and products.</strong>
                </li>
                <li>Experienced <strong>presenting to large groups and media as the face of the business </strong>in important situations.</li>
                <li> Strong <strong>financial services and data</strong> domain expertise.</li>
                <li> Top school <strong>MBA</strong> in finance.</li>

              </ul>
            </h4>

              <h3><strong>Hard Skills</strong></h3>

              <h4>
                <ul>
                  <li><strong>Languages and Frameworks:</strong>  Ruby, Rails, Python, Angular, Java (Java as a manager)</li>
                  <li><strong>AI and Machine Learning:</strong>  TensorFlow, Spark, Scikit-learn, Keras, R, and of course Python</li>
                  <li><strong>Front end:</strong> Angular 4, Angular CLI, TypeScript, HTML, CSS, Javascript, JQuery, Ajax</li>
                  <li><strong>Templating and Presentation:</strong> ERB, HAML, Bootstrap, Foundation</li>
                  <li><strong>Working in teams: </strong> Git, GitHub, Slack, Screen Hero</li>
                  <li><strong>Testing:</strong> RSpec, MiniTest, Capybara, FactoryGirl</li>
                  <li><strong>Tools and Misc.:</strong> iPython Notebooks (Jupyter), Node.js, APIs, Twilio, SQL, Sidekiq, SendGrid</li>
                  <li><strong>Cloud Infrastructure and DevOps:</strong> AWS, Heroku, CodeShip</li>
                  <li><strong>Database:</strong> PostgreSQL, Oracle, SQLite</li>
                  <li><strong>Payments:</strong> Stripe</li>
                  <li><strong>Agile Project Management:</strong> Pivotal, Sprintly, Trello</li>
                  <li><strong>OS:</strong> Mac OSX (and Microsoft if I have to)</li>
              </h4>

                    <h2><strong>By Experience</strong></h2>

                    <h3>
                      <ul>
                        <li><strong>Data Simply, Inc.</strong>, 2014 - present</li>
                        <strong>CEO / Co-Founder / Software Engineer</strong>
                      </ul>

                        <h4>
                          Data Simply is an enterprise SaaS platform that professional investors use to make more sustainable investing decisions (ESG). We analyze large volumes of data using our proprietary machine intelligence that interprets words like a financial analyst, and turns them into signals. It lets you quickly understand a document without having to read it.
                        It is available as an online app, APIs, and a widget. See more at <%= link_to "DataSimply.com", "http://www.datasimply.com" %>
                          <ul>
                            <li>Run the business; define and drive strategy.</li>
                            <li>Built and launched initial product; contribute ongoing as software engineer.</li>
                            <li>Own the product roadmap and be the voice of the customer.</li>
                            <li>Lead talent management: hiring, motivating, retaining team.</li>
                            <li>Drive the design, development, release cycle, deployment, and support for the platform.</li>
                            <li>Scaled to 60+ million metadata records with hourly updates for every company filing at the SEC, hourly, everyday.</li>
                            <li>Closed seed funding.</li>
                            <li>Established first partnerships.</li>
                          </ul>

                      </h4>

                    <h3>
                      <ul>
                        <li><strong>Several Software Startups in Silicon Valley, including Sr. Director Product, and Product Marketing, Roles</strong>, 2004 - 2014</li>
                      </ul>
                    </h3>

                    <h4>
                      Worked at several silicon valley startups mostly in the B2B space. Manage teams of PM's and suites of products. Three were acquired: Ariba, PSS Systems, and Sana Security.
                      <ul>
                        <li>Defined and rolled out company-wide product roadmap process for public company Ariba.</li>
                        <li>Make the product arrow hit the market bullseye using multiple methods: competitive analysis, customer input, support feedback, A/B testing, product-led growth, etc.</li>
                        <li>Manage teams of product managers and product marketing managers.</li>
                        <li>Manage suites of products with numerous simultaneous end user types (consumer and enterprise).</li>
                      </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Oracle</strong>, 1997 - 2004</li>
                        <strong>Financial Applications Development Product Leadership</strong>
                        </br>

                      </ul>
                    </h3>

                    <h4>
                      Ran financial web and mobile apps product development at Oracle including Enterprise solutions and a consumer-facing expense
                      management. As product family owner, managed a team of 25 including engineering. Led current and new products
                      at global scale in more than 25 languages and 30 countries. Started as product manager.
                      <ul>
                        <li>Defined and drove solution suite-level strategy.</li>
                        <li>Raised flagship product iExpenses from also-ran to market leadership.</li>
                        <li>Conceived and led a customer success program resulting in 100% referenceability.</li>
                        <li>Adopted agile development methodology and rapid release cycles, resulting in 6X faster velocity to market.</li>
                       </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Banker</strong></li>
                      </ul>
                    </h3>

                    <h4>
                      Drive client solutions as Banker including lending, corporate finance and capital markets at First Chicago (now Chase) and
                      BMO Capital Markets.
                    </h4>

                    <h2><strong>Education</strong></h2>

                    <h3>
                      <ul>
                        <li><strong>Bloc Code School</strong>, 2014</li>
                        <h4>
                        5 month full time Full Stack and Ruby on Rails coursework, with Apprenticeship. Training to move
                        from web developer to full stack engineer.
                        </h4>
                        <p>
                        <li><strong>Kellogg School, Northwestern University</strong></li>
                        <h4>
                        MBA, Finance
                        </h4>
                        <p>
                        <li><strong>Northwestern University</strong></li>
                        <h4>
                        BA, English
                        </h4>
                        <p>
                      </ul>
                    </h3>

                      <h2><strong>Volunteer and Open Source</strong></h2>

                      <h3>
                        <ul>
                          <li><strong>FinTech Sandbox</strong>, 2014 - Present</li>
                          <h4>
                            Contribute open source code to facilitate the quick and effective adoption of a variety of financial data services.
                          </h4>
                          <p>
                          <li><strong>Railsbridge</strong> 2017 - Present</li>
                          <h4>
                            Work as a volunteer to help teach coding to under-represented groups.
                          </h4>
                          <p>
                          <li><strong>OS4W</strong> 2017 - Present</li>
                          <h4>
                            Contribute code to platform that helps women work on more open source coding projects.
                          </h4>
                        </ul>
                      </h3>
        </div>
      </div>
    </div>
  </section>

<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
        </h3>
        </br>
        </h3>
        <h3>Like this site? Star it on GitHub</h3>
        <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-dark">Star It</a>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2018</p>

          <p class="text-muted">Built by Michelle with
            <i class="fa fa-coffee"></i>
          </p>
          <br>
          <br>
        </h4>
      </div>
    </div>
  </div>
</section>
