<div class="container panel panel-resume">
  <div class="row">
    <div class="col-lg-12 text-left">
        <section id="about" class="about">
          <h1><strong>Resume for Michelle Bonat</strong></h1>

          <h3><strong> LEADER | ENGINEER | DATA AND AI
          </strong></h3>

          <h2><strong>Background</strong></h2>
          <%= link_to "See My Portfolio", root_path %> <i class="fa fa-arrow-circle-right"></i>
          <p>
          <%= link_to "See My Blog", posts_path %> <i class="fa fa-arrow-circle-right"></i>

          <h2><strong>Skills</strong></h2>

          <h4>
            <ul>
              <li><strong> AI and Machine Learning & Data Science: </strong> TensorFlow, Keras, Scikit-learn, Pandas, Matplotlib</li>
              <li><strong> Languages:</strong> Python, Ruby, Angular, Java (Java as a manager)</li>
              <li><strong>Front End:</strong> Angular, CSS, Javascript, JQuery, Ajax</li>
              <li><strong>Templating and Presentation:</strong> Rails, Bootstrap, Foundation</li>
              <li><strong>Tools and Misc.</strong> Node.js, APIs, Twilio, SQL</li>
              <li><strong>Cloud Services:</strong> AWS, GCP, Heroku</li>
              <li><strong>Database:</strong> PostgreSQL, Oracle, SQLite</li>
              <li><strong>Business:</strong> Exec leadership, engineering management, product strategy, global production software F500 customers,
                fin services domain, blockchain. Open source contributor, coding teacher for under-represented groups.</li>
            </ul>

                    <h2><strong>Experience</strong></h2>

            <h3>
              <ul>
                <li><strong>Insight Data Science</strong>, September 2018 - present</li>
                <strong>Artificial Intelligence Fellow</strong>
                <strong>San Francisco, CA</strong>
              </ul>

              <h4>
                Part of a <%= link_to "collaborative group", "https://www.insightdata.ai/" %> in San Francisco working to solve real world problems with AI.
                <ul>
                  <li>Created Ethereum funds flow predictor as consulting project</li>
                  <li>Built pipeline using blockchain, custom datasets, and ML models</li>
                  <li>Applied AI to new and growing $200BN Crypto asset class.</li>
                </ul>
              </h4>

                    <h3>
                      <ul>
                        <li><strong>Data Simply, Inc.</strong>, 2015 - present</li>
                        <strong>CEO / Co-Founder / Data Scientist</strong>
                        <strong>Palo Alto, CA</strong>
                      </ul>

                        <h4>
                          <ul>
                            <li>Co-built <%= link_to "automated SaaS platform", "http://www.datasimply.com" %> using data science for social impact investing</li>
                            <li>Contribute as software engineer; built data pipelines at scale reading natural language text to extract investing signals</li>
                            <li>Ran the business; raised seed funding; automated 99% of ops.</li>
                          </ul>
                      </h4>

                    <h3>
                      <ul>
                        <li><strong>Ariba & Startups - Director</strong>, 2004 - 2015</li>
                        <strong>Silicon Valley, CA</strong>
                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Software product leader at three acquired companies: Ariba, PSS Systems, and Sana Security</li>
                        <li>Defined and rolled out company-wide product roadmap</li>
                        <li>Drove successful Asia launch of world's largest B2B marketplace</li>
                        <li>Led 12 cross-functional teams from product conception through launch and multiple iterations, user types, and delivery methods.</li>
                      </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Oracle Corp - Group Manager - Financial Applications Development</strong>, 1997 - 2004</li>
                        <strong>Redwood Shores, CA</strong>
                        </br>

                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Led Financial web application development engineering and PM team of 25+ building, testing, and maintaining large-scale software systems</li>
                        <li>Adopted agile for 6X faster to market for $50MM revenue stream</li>
                        <li>Led customer success program to 100% global referenceability</li>
                        <li>RRaised flagship product to market leader, promoted from PM.</li>
                       </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>BMO - Financial Quant</strong>, 1995 - 1997</li>
                        <strong>Chicago, IL</strong>
                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Created cash-flow based financial models to analyze transactions</li>
                        <li>Spearheaded development of new complex derivatives product.</li>
                      </ul>
                    </h4>

                    <h2><strong>Education</strong></h2>

                    <h3>
                      <ul>
                        <li><strong>Bloc Code School</strong>, 2014</li>
                        <h4>
                          5 month full stack engineering bootcamp.
                        </h4>
                        <p>
                        <li><strong>Kellogg School, Northwestern University</strong></li>
                        <h4>
                        MBA, Finance
                        </h4>
                        <p>
                        <li><strong>Northwestern University</strong></li>
                        <h4>
                        BA, English
                        </h4>
                        <p>
                      </ul>
                    </h3>

                      <h2><strong>Volunteer and Open Source</strong></h2>

                      <h3>
                        <ul>
                          <li><strong>FinTech Sandbox</strong>, 2014 - Present</li>
                          <h4>
                            Contribute open source code to facilitate the quick and effective adoption of a variety of financial data services.
                          </h4>
                          <p>
                          <li><strong>Railsbridge</strong> 2017 - Present</li>
                          <h4>
                            Work as a volunteer to help teach coding to under-represented groups.
                          </h4>
                          <p>
                          <li><strong>OS4W</strong> 2017</li>
                          <h4>
                            Contribute code to platform that helps women work on more open source coding projects.
                          </h4>
                        </ul>
                      </h3>
        </div>
      </div>
    </div>
  </section>

<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
        </h3>
        </br>
        </h3>
        <h3>Like this site? Star it on GitHub</h3>
        <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-dark">Star It</a>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2018</p>

          <p class="text-muted">Built by Michelle with
            <i class="fa fa-coffee"></i>
          </p>
          <br>
          <br>
        </h4>
      </div>
    </div>
  </div>
</section>
