<div class="container panel panel-resume">
  <div class="row">
    <div class="col-lg-12 text-left">
        <section id="about" class="about">
          <h1><strong>Resume for Michelle Bonat</strong></h1>

          <h3><strong> AI/ML/FULL STACK ENGINEER | DATA SCIENTIST | ENTREPRENEUR | LEADER
          </strong></h3>

          <h2><strong>Background</strong></h2>
          <%= link_to "See My Portfolio", root_path %> <i class="fa fa-arrow-circle-right"></i>
          <p>
          <%= link_to "See My Blog", posts_path %> <i class="fa fa-arrow-circle-right"></i>

          <h2><strong>Skills</strong></h2>

          <h4>
            <ul>
              <li><strong> AI and Machine Learning: </strong> TensorFlow, Keras, Scikit-learn, Pandas</li>
              <li><strong> Languages:</strong> Python, Ruby, Angular, Java (Java as a manager)</li>
              <li><strong>Cloud Infrastructure and DevOps:</strong> AWS, Heroku</li>
              <li><strong>Front End:</strong> Angular, CSS, Javascript, JQuery, Ajax</li>
              <li><strong>Templating and Presentation:</strong> Flask, Rails, Bootstrap, Foundation</li>
              <li><strong>Tools and Misc.</strong> Node.js, APIs, Twilio, SQL</li>
              <li><strong>Database:</strong> PostgreSQL, Oracle, SQLite</li>
              <li><strong>Business:</strong> Exec leadership, engineering management, product strategy, global production software F500 customers,
                fin services domain. Open source contributor, coding teacher for under-represented groups.</li>
            </ul>

                    <h2><strong>By Experience</strong></h2>

            <h3>
              <ul>
                <li><strong>Insight Data Science</strong>, September 2018 - present</li>
                <strong>Artificial Intelligence Fellow</strong>
              </ul>

              <h4>
                Part of a collaborative group in San Francisco working to solve real world problems with AI and contribute to open source.
                See more at <%= link_to "Insight AI", "https://www.insightdata.ai/" %>
                <ul>
                  <li>Built tech to predict behavior of Crypto addresses as consulting project</li>
                  <li>Used machine learning models for single behavior in a group</li>
                  <li>Applied AI to underleveraged new and growing $200BN asset class.</li>
                </ul>
              </h4>

                    <h3>
                      <ul>
                        <li><strong>Data Simply, Inc.</strong>, 2014 - present</li>
                        <strong>CEO / Co-Founder / Software Engineer</strong>
                      </ul>

                        <h4>
                          Data Simply is where data science meets social impact investing. It's an enterprise SaaS platform that professional investors use to make more sustainable investing decisions (ESG). We analyze large volumes of data using our proprietary machine intelligence that interprets words like a financial analyst, and turns them into signals. It lets you quickly understand a document without having to read it.
                        It is available as an online app, APIs, and a widget. See more at <%= link_to "DataSimply.com", "http://www.datasimply.com" %>
                          <ul>
                            <li>Co-built SaaS platform using data science for social impact investing</li>
                            <li>Contribute ongoing as software engineer</li>
                            <li>Ran the business; raised seed funding; automated 99% of ops.</li>
                          </ul>
                      </h4>

                    <h3>
                      <ul>
                        <li><strong>Ariba & Startups - Sr. Director</strong>, 2004 - 2015</li>
                      </ul>
                    </h3>

                    <h4>
                      Worked at several silicon valley startups mostly in the B2B space. Manage teams of PM's and suites of products. Three were acquired: Ariba, PSS Systems, and Sana Security.
                      <ul>
                        <li>Software product leader at three acquired companies: Ariba, PSS Systems, and Sana Security</li>
                        <li>Defined and rolled out company-wide product roadmap</li>
                        <li>Manage teams of product managers and product marketing managers.</li>
                        <li>MManaged teams of 12 product managers, suites of global products, multiple user types, and delivery methods.</li>
                      </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Oracle Corp - Group Manager</strong>, 1997 - 2004</li>
                        <strong>Redwood Shores, CAp</strong>
                        </br>

                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Headed global financial web application development engineering and PM team of 25+ for $50MM global revenue stream</li>
                        <li>Adopted agile, resulting in 6X faster velocity to market</li>
                        <li>Led customer success program to 100% referenceability</li>
                        <li>Raised flagship product to market leader, promoted from PM..</li>
                       </ul>
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Chase / BMO - Financial Quant</strong>, 1990 - 1997</li>
                      </ul>
                    </h3>

                    <h4>
                      <ul>
                        <li>Created financial models to analyze transactions</li>
                        <li>Led development of new complex derivatives product.</li>
                      </ul>
                    </h4>

                    <h2><strong>Education</strong></h2>

                    <h3>
                      <ul>
                        <li><strong>Bloc Code School</strong>, 2014</li>
                        <h4>
                          5 month full stack engineering bootcamp.
                        </h4>
                        <p>
                        <li><strong>Kellogg School, Northwestern University</strong></li>
                        <h4>
                        MBA, Finance
                        </h4>
                        <p>
                        <li><strong>Northwestern University</strong></li>
                        <h4>
                        BA, English
                        </h4>
                        <p>
                      </ul>
                    </h3>

                      <h2><strong>Volunteer and Open Source</strong></h2>

                      <h3>
                        <ul>
                          <li><strong>FinTech Sandbox</strong>, 2014 - Present</li>
                          <h4>
                            Contribute open source code to facilitate the quick and effective adoption of a variety of financial data services.
                          </h4>
                          <p>
                          <li><strong>Railsbridge</strong> 2017 - Present</li>
                          <h4>
                            Work as a volunteer to help teach coding to under-represented groups.
                          </h4>
                          <p>
                          <li><strong>OS4W</strong> 2017 - Present</li>
                          <h4>
                            Contribute code to platform that helps women work on more open source coding projects.
                          </h4>
                        </ul>
                      </h3>
        </div>
      </div>
    </div>
  </section>

<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
        </h3>
        </br>
        </h3>
        <h3>Like this site? Star it on GitHub</h3>
        <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-dark">Star It</a>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2018</p>

          <p class="text-muted">Built by Michelle with
            <i class="fa fa-coffee"></i>
          </p>
          <br>
          <br>
        </h4>
      </div>
    </div>
  </div>
</section>
