<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
        <section id="about" class="about" class="panel" class="panel-default">
          <h1><strong>Resume for Michelle Bonat</strong></h1>

          <h3><strong>SUMMARY: An SF Bay Area-based full stack software engineer and leader, I have experience at both startups and public co’s, and running businesses, at global scale.
            I’ve run an application business for Oracle, have an MBA, and been part of several startups that were acquired. A former banker and ultra-competitive athlete, I love writing lots of code.
            </strong></h3>

          <h2><strong>By Numbers</strong></h2>

          <h4>
            <ul>
              <li><strong> 700+</strong> individual code commits to the Data Simply application</li>
              <li><strong>F500</strong> caliber of customers I have worked with on software projects</li>
              <li><strong>$50 million</strong> business size managed</li>
              <li><strong>30 and 25</strong> number of countries and languages where software has been deployed</li>
              <li><strong>25</strong> team size managed</li>
              <li><strong>15</strong> years of tech management experience</li>
              <li><strong>10</strong> years as a web developer</li>
              <li><strong>3</strong> years as a full stack / Ruby on Rails developer</li>
            </ul>

            <h2><strong>By Skills</strong></h2>

              <h3><strong>Hard Skills</strong></h3>

              <h4>
                <ul>
                  <li><strong>Languages and Frameworks:</strong> Ruby, Ruby on Rails</li>
                  <li><strong>Front end:</strong> HTML, CSS, Javascript, JQuery, Ajax</li>
                  <li><strong>Templating and Presentation:</strong> ERB, HAML, Bootstrap</li>
                  <li><strong>Working in teams: </strong>Git, GitHub, Slack, Screen Hero</li>
                  <li><strong>Testing:</strong> RSpec, MiniTest, Capybara, FactoryGirl</li>
                  <li><strong>Tools and Misc.:</strong> SQL, Sidekiq, SendGrid</li>
                  <li><strong>Cloud Infrastructure and DevOps:</strong> AWS, Heroku, CodeShip</li>
                  <li><strong>Database:</strong> PostgreSQL, Oracle, SQLite</li>
                  <li><strong>Agile Project Management:</strong> Pivotal, Sprintly, Trello</li>
                  <li><strong>OS:</strong> Mac OSX (and Microsoft if I have to)</li>
              </h4>

                    <h3><strong>Soft Skills</strong></h3>

                    <h4>
                      <ul>

                        <li><strong>Been there done that:</strong> Vast experience at scale with industry leaders and upstarts, leading
                          projects, products, and engineering teams.
                        </li>
                        <li><strong>Understand both business and technology:</strong> Focused on solving customer business challenges, not building tech for tech’s sake.
                        </li>
                        <li><strong>Balance breadth and depth:</strong> Connect customer problems to tech, but also get
                          into the code, and know when each is needed.
                        </li>
                        <li><strong>Leading by example:</strong> Started as PM, managed engineers before learned to code.
                        </li>
                        <li><strong>Scaling:</strong> Creating, Deploying, and Shipping suites of production code
                          globally.
                        </li>
                        <li><strong>Presenting:</strong> To large groups in important situations.</li>
                        <li><strong>Fin Svc:</strong> Deep financial services and fintech domain expertise.</li>


                      </ul>
                    </h4>

                    <h2><strong>By Experience</strong></h2>

                    <h3>
                      <ul>
                        <li><strong>Data Simply, Inc.</strong>, 2014 - present</li>
                        <strong>CEO / Co-Founder / Software Engineer</strong>
                      </ul>

                        <h4>
                        Data Simply redefines how financial professionals get insights from unstructured data.
                        Our financial search platform proactively mines text like an analyst, so you can track what you care about most.
                        We mine the SEC database hourly across all major US exchanges; available in app and API.

                        We're extending the tech more broadly to reduce risk, improve compliance, and drive revenue.

                        See more at <%= link_to "DataSimply.com", "http://www.datasimply.com" %>

                      </h4>

                    <h3>
                      <ul>
                        <li><strong>Several Software Startups in Silicon Valley, Lead Product and Marketing Roles</strong>, 2004 - 2014</li>
                      </ul>
                    </h3>

                    <h4>
                      Worked at several silicon valley startups mostly in the B2B space. Three were acquired: Ariba, PSS Systems, and Sana Security.
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Oracle</strong>, 1997 - 2004</li>
                        <strong>Financial Applications Development Leader</strong>
                        </br>

                      </ul>
                    </h3>

                    <h4>
                      Worked my way up the stack. Ran financial web and mobile apps product development at Oracle including consumer-facing expense
                      management. As product family owner, managed a team of 25 including engineering. Led current and new products
                      at global scale in more than 25 languages and 30 countries.
                      Seven years at Oracle and a great experience!
                    </h4>

                    <h3>
                      <ul>
                        <li><strong>Banker</strong></li>
                      </ul>
                    </h3>

                    <h4>
                      Banker including lending, corporate finance and capital markets at First Chicago (now Chase) and
                      BMO Capital Markets.
                    </h4>

                    <h2><strong>Education</strong></h2>

                    <h3>
                      <ul>
                        <li><strong>Bloc Code School</strong>, 2014</li>
                        <h4>
                        5 month full time Full Stack and Ruby on Rails coursework, with Apprenticeship. Training to move
                        from web developer to full stack engineer.
                        </h4>
                        <p>
                        <li><strong>Kellogg School, Northwestern University</strong></li>
                        <h4>
                        MBA, Finance
                        </h4>
                        <p>
                        <li><strong>Northwestern University</strong></li>
                        <h4>
                        BA, English
                        </h4>
                        <p>
                      </ul>
                    </h3>

        </div>
      </div>
    </div>
  </section>

<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
        </h3>
        </br>
        </h3>
        <h3>Like this site? Star it on GitHub</h3>
        <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-dark">Star It</a>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2017</p>

          <p class="text-muted">Built by Michelle with Ruby on Rails and
            <i class="fa fa-heart"></i>
          </p>
        </h4>
      </div>
    </div>
  </div>
</section>