<div class="container panel panel-resume">
  <div class="row">
    <div class="col-lg-12 text-left">
      <section id="about" class="about">
        <h1><strong>Sandbox for In-Process Things</strong></h1>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <div id='datasimply-widget'></div>
      <script>
          (function() {
              var ds = document.createElement('script'); ds.type = 'text/javascript'; ds.async = true;
              ds.src = 'https://app.datasimply.com/assets/widget-33cb8f064627a3b5b1d6552265e634139ec167b0c3b8433318493a2e503fbe2d.js';
              var s = document.getElementById('datasimply-widget')
              s.parentNode.insertBefore(ds, s);
          })();
      </script>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <section id="about" class="about">
        <h4>Data Simply widget displayed at full width, standard code, without the jQuery line</h4>
      </section>
    </div>
  </div>
</div>