<div class="container panel panel-resume">
  <div class="row">
    <div class="col-lg-12 text-left">
      <section id="about" class="about">
        <h1><strong>Speaking by Michelle Bonat</strong></h1>

        <h3><strong> I enjoy speaking about finance, data, AI and engineering.
        </strong></h3>

        <p>
          <a href="mailto:michelle.bonat@gmail.com">Click here to Get in Touch</a> about having me speak at your event.</p></h2>

        <h2><strong>My Background</strong></h2>
        <%= link_to "See My Portfolio", root_path %> <i class="fa fa-arrow-circle-right"></i>
        <p>
          <%= link_to "See My Blog", posts_path %> <i class="fa fa-arrow-circle-right"></i>


        <h2><strong>Some Previous Speaking Engagements:</strong></h2>

        <h3><strong>ACM Silicon Valley Meetup - Data Science Group</strong></h3>

        <h4>
          <ul>
            <li>Deep Learning: Overview, Myths Debunked, and Financial Services Demo</li>
          </ul>

        <h3><strong>AI WTB Conference (AI With The Best)</strong></h3>

        <h4>
          <ul>
            <li>Society and Ethics Track: "Can AI Democratize Investing (and Other Industries)
              for the Benefit of Society? Should It?"</li>
          </ul>


        <h3><strong>Silicon Valley Forum AI and the Enterprise Conference Powered by SAP</strong></h3>


        <h3><strong>Strata Data Conference NYC</strong></h3>

        <h4>
          <ul>
            <li>"Open the Black Box: An Executive Guide to Making Unstructured Data Work in Finance"</li>
          </ul>


          <h3><strong>Kickstart in Zurich, Switzerland</strong></h3>


          <h3><strong>SV Forum Pitch Competition, San Francisco (Won)</strong></h3>


          <h3><strong>Plug N Play FinTech, Silicon Valley</strong></h3>


          <h3><strong>FinTech Sandbox, Boston</strong></h3>


          <h3><strong>Return To Work Conference, Silicon Valley</strong></h3>

          <h4>
            <ul>
              <li>Presented tips for people on personal finances as they re-enter the workforce, together with Financial Advisors</li>
            </ul>


          <h3><strong>Product Launch at DEMO Conference, San Diego</strong></h3>


          <h3><strong>Pivot Conference NYC</strong></h3>

    </div>
  </div>
</div>
</section>

<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Get In Touch</strong></h2>
        <h3>
          <i class="fa fa-envelope-o fa-fw fa-2x"></i> <a href="mailto:michelle.bonat@gmail.com">Email Me</a>
          <br>
          <a href="https://twitter.com/mbonat"><i class="fa fa-twitter fa-fw fa-2x"></i>mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://www.linkedin.com/in/mbonat"><i class="fa fa-linkedin fa-fw fa-2x"></i>/mbonat</a>
          &nbsp;
          &nbsp;
          <a href="https://github.com/michellebonat"><i class="fa fa-github fa-fw fa-2x"></i>michellebonat</a>
        </h3>
        </br>
        </h3>
        <h3>Like this site? Star it on GitHub</h3>
        <a href="https://github.com/michellebonat/mbonat_site" target="_blank" class="btn btn-dark">Star It</a>
        <h4>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Michelle Bonat 2019</p>

          <p class="text-muted">Built by Michelle with
            <i class="fa fa-coffee"></i>
          </p>
          <br>
          <br>
        </h4>
      </div>
    </div>
  </div>
</section>
