.container
	.row
		.col-lg-12
			%h1.portfolio-header
				Bit Parrot
				%small
					%i Aggregated API data for developers to track information they care about
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/zSLQWXy.png"}/
			%br

		.col-md-6
			%h3
				%strong Project Description
			%p This is a newer project, I am still building it out. This application was created because I found myself spending too much time tracking information about coding-related things I needed to be on top of (meetups, blogs, tweets, and things like that). I also wanted to find information specific to my city, without wading through lots of information ... and I also like building apps in Ruby on Rails. So rather than manually tracking all of this nefarious info I created an app to do it for me.


			%h3
				%strong How It Works
			%p The application parses data from various APIs behind the scenes and transforms that into ways a user can easily consume it.
			%h3
				%strong Contribution
			%p Built on my own as a personal project.

			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Ruby on Rails
				%li
					%strong Front End:
					HTML, CSS, Javascript, JQuery
				%li
					%strong Templating and Presentation:
					Haml, Bootstrap
				%li
					%strong Testing:
					RSpec, Capybara, FactoryGirl
				%li
					%strong Tools and Misc:
					SQL, SendGrid
				%li
					%strong Cloud Infrastructure and DevOps:
					Heroku, CodeShip
				%li
					%strong DB:
					PostgreSQL
				%li
					%strong APIs and Integrations:
					Twitter API (more APIs to follow)
				%li
					%strong Delivery:
					Online

			-#%h3
			-#	%strong Notable
			-#%p Raised seed funding. We have generated more than 40 million metadata tags on these documents.

			%h3
				%strong More Information
			%ul
				%li
					See the application online
					= link_to "here", "http://www.bitparrot.co/"
				%li
					See the public repo
					= link_to "here", "https://github.com/michellebonat/bitparrot"
				%br
				%br


	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2017 All Rights Reserved
