.container
	.row
		.col-lg-12
			%h1.portfolio-header
				Data Simply
				%small Machine intelligent data for financial services
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "http://placehold.it/600x390"}/

		.col-md-6
			%h3
				%strong Project Description
			%p Data Simply technology reads words like a financial analyst and turns them into signals, at scale, for company and investment analysis.

			%h3
				%strong How It Works
			%p Something Data Simply technology reads words like a financial analyst and turns them into signals, at scale, for company and investment analysis.

			%h3
				%strong Contribution
			%p Code and run the business. CEO, Co-Founder, Software Engineer. More than 900 individual production code commits.

			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Ruby on Rails
				%li
					%strong Front End:
					HTML, CSS, Javascript, JQuery
				%li
					%strong Templating and Presentation:
					Haml, Bootstrap
				%li
					%strong Testing:
					RSpec, MiniTest, Capybara, FactoryGirl
				%li
					%strong Tools and Misc:
					Twilio, SQL, Sidekiq, SendGrid, Stripe
				%li
					%strong Cloud Infrastructure and DevOps:
					AWS, Heroku, CodeShip, LogDNA
				%li
					%strong DB:
					PostgreSQL
				%li
					%strong APIs and Integrations:
					SEC, Twilio, Numerous financial data providers
				%li
					%strong Delivery:
					Application, APIs, Widgets

			%h3
				%strong More Information
			%ul
				%li
					See the application online here
					Ruby on Rails
				%li
					See the widget in action here
					HTML, CSS, Javascript, JQuery
				%li
					See the public repo here

	.row
		.col-lg-12
			%h3.page-header
				%strong Related Projects
		.col-sm-3.col-xs-6
			%a{:href => "#"}
				%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
		.col-sm-3.col-xs-6
			%a{:href => "#"}
				%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
		.col-sm-3.col-xs-6
			%a{:href => "#"}
				%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
		.col-sm-3.col-xs-6
			%a{:href => "#"}
				%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2017 All Rights Reserved
