.container
	.row
		.col-lg-12
			%h1.portfolio-header
				MichelleBonat.com
				%small
					%i This is my personal website (you are here now)
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/vj99J32.jpg"}/
			%br
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/6FrEn2d.jpg"}/

		.col-md-6
			%h3
				%strong Project Description
			%p Data Simply technology reads words like a financial analyst and turns them into signals, at scale, for company and investment analysis.

			%h3
				%strong How It Works
			%p The Data Simply Company Filings Analysis solution is a Natural Language Processing (NLP) technology to track the companies and tickers you care about most, by having technology read and understand the words in their filings disclosures at the SEC. Filings data is pulled directly from Edgar on an hourly basis, cleaned, and analyzed using our own curated finance-specific ontology. Metadata tags for sentiment and frequency are added to each document. This is run at scale across the three major US exchanges and filings every hour. Users receive alerts on their portfolio via email and SMS.
			%h3
				%strong Contribution
			%p Code and run the business. CEO, Co-Founder, Software Engineer, DevOps. I have more than 900 individual production code commits to the Ruby on Rails application, and built the corporate website. Help with design which we did all in-house without a dedicated designer.

			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Ruby on Rails
				%li
					%strong Front End:
					HTML, CSS, Javascript, JQuery
				%li
					%strong Templating and Presentation:
					Haml, Bootstrap
				%li
					%strong Testing:
					RSpec, Capybara, FactoryGirl
				%li
					%strong Tools and Misc:
					Twilio, SQL, Sidekiq, SendGrid, Stripe
				%li
					%strong Cloud Infrastructure and DevOps:
					AWS, Heroku, CodeShip, LogDNA
				%li
					%strong DB:
					PostgreSQL
				%li
					%strong APIs and Integrations:
					SEC, Twilio, Numerous financial data providers
				%li
					%strong Delivery:
					Application, APIs, Widgets, with multiple subscriptions both free and paid

			%h3
				%strong Other
			%p We will have attached more than 40 million metadata tags to these documents.

			%h3
				%strong More Information
			%ul
				%li
					See the corporate website
					= link_to "here", "http://datasimply.com/"
				%li
					See the application online
					= link_to "here", "https://app.datasimply.com/"
				%li
					See the widget in action
					= link_to "here", "http://datasimply.com/home/"
				-#%li
				-#	See the public repo
				-#	= link_to "here", "http://datasimply.com/home/"
				%br
				%br

	-#This is the related projects section which still needs to be built out
	-#.row
	-#	.col-lg-12
	-#		%h3.page-header
	-#			%strong Related Projects
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
	-#	.col-sm-3.col-xs-6
	-#		%a{:href => "#"}
	-#			%img.img-responsive.shadow-image.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/

.container
	.row
		.col-lg-10.col-lg-offset-1.text-center
			#datasimply-general-widget
			:javascript
				(function() {
				    var ds = document.createElement('script'); ds.type = 'text/javascript'; ds.async = true;
				    ds.src = 'https://app.datasimply.com/assets/general-widget-8076209247070aba4341fbb623862e8e2d5900af9e4a5e02eb2db8e531a2521e.js';
				    var s = document.getElementById('datasimply-general-widget')
				    s.parentNode.insertBefore(ds, s);
				})();


	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2017 All Rights Reserved
