.container
	.row
		.col-lg-12
			%h1.portfolio-header
				Find Developers Near You
				%small
					%i Find developers based on city and programming language
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "https://i.imgur.com/R7DOsMG.png"}/
			%br

		.col-md-6
			%h3
				%strong Project Description
			%p This application was created to learn Angular 4 and to see what programmers were around me, either for recruiting purposes or networking.

			%h3
				%strong How It Works
			%p A user can lookup developers given a certain city and programming language combination, and drill into their profile details to see more information.
			%h3
				%strong Contribution
			%p Built on my own as a personal project.

			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Angular 4
				%li
					%strong Front End:
					Angular CLI, Node.js, TypeScript, CSS, Javascript
				%li
					%strong Templating and Presentation:
					Bootstrap
				-#%li
				-#	%strong Testing:
				-#	RSpec, Capybara, FactoryGirl
				-#%li
				-#	%strong Tools and Misc:
				-#	SQL, SendGrid
				-#%li
				-#	%strong Cloud Infrastructure and DevOps:
				-#	Hosted by GitHub Pages
				-#%li
				-#	%strong DB:
				-#	PostgreSQL
				%li
					%strong APIs and Integrations:
					GitHub API
				%li
					%strong Delivery:
					Hosted by GitHub Pages

			-#%h3
			-#	%strong Notable
			-#%p Raised seed funding. We have generated more than 40 million metadata tags on these documents.

			%h3
				%strong More Information
			%ul
				%li
					See the application online
					= link_to "here", "https://michellebonat.github.io/angular-find-devs/"
				%li
					See the public repo
					= link_to "here", "https://github.com/michellebonat/angular-find-devs"
				%br
				%br


	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2018 All Rights Reserved
