.container
	.row
		.col-lg-12
			%h1.portfolio-header
				My Money Butler
				%small
					%i A personal investing guidance site
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/2uHsLeO.png"}/
			%br
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/UWiN28Y.png"}/
			%br
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/BI2srEY.png"}/

		.col-md-6
			%h3
				%strong Project Description
			%p	This was a website and related in-person seminars held at companies that helped people manage their money and plan for retirement better. It was revenue-generating and profitable.

			%h3
				%strong How It Works
			%p The site had helpful content and recorded session videos from expert financial advisors. These experts joined with paid memberships, called the Jenkins List, and they were connected with people seeking advice.
			-#%p
			-#	I have
			-#	= link_to "open sourced the code here.", "https://github.com/michellebonat/blocipedia"

			%h3
				%strong Contribution
			%p Solo developer and team lead. Designed, developed, styled, deployed, recruited a team. Performed customer research interviews on problem to address.
			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Wordpress
				%li
					%strong Front End:
					HTML, CSS
				%li
					%strong Templating and Presentation:
					Wordpress
				-#%li
				-#	%strong Testing:
				-#	RSpec, Capybara, FactoryGirl, Better Errors, Pry Rails
				-#%li
				-#	%strong Tools and Misc:
				-#	Stripe for payments, Devise, Launchy, Pundit, Figaro, Redcarpet, FriendlyID, Simple Form.
				%li
					%strong Cloud Infrastructure and DevOps:
					Third party hosting provider
				-#%li
				-#	%strong DB:
				-#	SQLite (development), PostgreSQL (production)
				%li
					%strong APIs and Integrations:
					Twitter, Facebook, Mail Chimp
				%li
					%strong Delivery:
					Online website and seminars held at companies

	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2019 All Rights Reserved
