.container
	.row
		.col-lg-12
			%h1.portfolio-header
				Oracle Financial Web Applications
				%small
					%i Market-leading solution for web-based corporate financial management.
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/flLC58I.jpg"}/
			%br
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/rh6l9bJ.png"}/
			%br
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/hjLh5RU.jpg"}/

		.col-md-6
			%h3
				%strong Project Description
			%p Financial web applications included corporate travel and expense management as well as internet receivables, payables, and incubation of new products.
			%h3
				%strong How It Works
			%p High-performing organizations choose Oracle web financials to dramatically reduce the amount of time and effort required to submit, approve, process, and pay expense reports, and process receivables and payables, over the web and mobile devices. Oracle web financials are part of the Oracle Financials family of applications.
			%h3
				%strong Contribution
			%p Led team of 25+ developing this suite of applications. My responsibilities included strategy, engineering, product, quality assurance, integrations, and delivery. I was a manager (started as a product manager and worked my way up) and did not write code, however I was responsible for it.

			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Java
				%li
					%strong Front End:
					JSP
				%li
					%strong Templating and Presentation:
					Forms
				%li
					%strong Testing:
					Various 3rd party automation test suites
				%li
					%strong Tools and Misc:
					SQL, PLSQL
				%li
					%strong Cloud Infrastructure and DevOps:
					Oracle
				%li
					%strong DB:
					Oracle
				%li
					%strong APIs and Integrations:
					Integrated with other Oracle applications and 3rd party partners
				%li
					%strong Delivery:
					Online, mobile, hosted and on-premise. Deliver on internationalized and localized international business needs for multiple currencies, languages, and character sets, across more than 25 languages and 30 countries.

			%h3
				%strong Notable
			%p Drove flagship product iExpenses from also ran to market leadership. Conceived and led a customer success program resulting in 100% referenceability. Adopted agile development methodology and rapid release cycles.

			%h3
				%strong More Information
			%ul
				%li
					See the corporate website
					= link_to "here", "https://www.oracle.com/index.html"
				%li
					See the applications family page which includes my applications and others
					= link_to "here", "http://www.oracle.com/us/products/applications/ebusiness/financials/index.html"
				%li
					See the overview for some (not all) of the products I looked after
					= link_to "here", "http://www.oracle.com/us/products/applications/ebusiness/financials/053350.html"
				-#%li
				-#	See the public repo
				-#	= link_to "here", "http://datasimply.com/home/"
				%br
				%br

	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2017 All Rights Reserved
