.container
	.row
		.col-lg-12
			%h1.portfolio-header
				StompBox Tunes
				%small
					%i Social music trivia game
	.row
		.col-md-6
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/1u0HhuM.jpg"}/
			%br
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/VNVNRzZ.png"}/
			%br
			%img.img-responsive.shadow-image{:alt => "", :src => "http://i.imgur.com/whuTpY7.jpg"}/

		.col-md-6
			%h3
				%strong Project Description
			%p StompBox tunes was a social, viral, category-leading quizzes application built inside of Facebook.


			%h3
				%strong How It Works
			%p This application developed a broader love of music appreciation. It did this by letting you involve (and challenge) your friends in music trivia quizzes. It also exposed people to new types of music by incenting them to try new categories they had not previously explored.
			%h3
				%strong Contribution
			%p This was a personal project. I recruited and led a small team which included a music expert, designer, and developer.

			%h3
				%strong Project Details
			%ul
				%li
					%strong Framework:
					Facebook
				%li
					%strong APIs and Integrations:
					Facebook API
				%li
					%strong Delivery:
					Inside Facebook

			%h3
				%strong Notable
			%p This game grew extremely quickly as we carefully architected the social sharing paths and incentives. For example: Take a quiz: one point. Challenge your friend: two points. Beat your friend: five points. Unfortunately there wasn't a monetization path. However we learned a tremendous amount about how to wire an application for rapid organic viral growth.


	%hr/

	%portfolio-footer
		.row
			.col-lg-12
				%p Copyright © Michelle Bonat 2017 All Rights Reserved
