.row
  .col-sm-2
    %h3 = link_to @post do
  .col-sm-8
    %h5= link_to post.title, post
    %p.text-muted.small.subtitle
      Posted on
      = post.created_at.strftime('%Y-%-b-%d at %I:%M %P')
      = link_to 'Read It', post, class: 'btn btn-xs btn-default'
