.row
  .col-sm-1
    %h3
      = link_to @post do
        %span.glyphicon.glyphicon-flag
  .col-sm-8
    %h5= link_to post.title, post
    %p.text-muted.small.subtitle
      Posted on
      = post.created_at.strftime('%Y-%-b-%d at %I:%M %P')
  .col-sm-3
    = link_to 'Read More', post, class: 'btn btn-xs btn-default'
  .clearfix