<section id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left">
        <br>
        <br>
        <h1 class="title">
          <%= markdown_to_html @post.title %>
        </h1>

        <p class="date">
          Submitted <%= time_ago_in_words(@post.created_at) %> Ago

        <h4 class="body">
          <%= markdown_to_html @post.body %>
        </h4>
        </p>
      </div>
    </div>
  </div>
</section>
