
.modal-header {
    background: #737197;
    background-color: rgba(88, 111, 151, 0.31);
    text-align: center;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

.modal-body {
  text-align: center;
  border-radius: 25px;
}

.modal-content {
  text-align: center;
  border-radius: 25px;
}

