ul.sharing {
  margin: 9px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    a {
      display: block;
      padding: 8px 25px;
      text-decoration: none !important;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      color: #FFFFFF;
      opacity: 0.8;

      &.twitter {
        background: #55acee;
      }
      &.linkedin {
        background: #4875b4;
      }
      &.email {
        background: #183a83;
      }

      span{
        margin: 2px 0 2px 8px;
        display: block;
        float: right;
      }
    }
  }
}

